@import "tailwindcss";
@import "@pubint/yaboujee/styles";

/* Tailwind 4 workaround: Override hover variant to work with storybook-addon-pseudo-states */
/* Generate hover styles for both :hover pseudo-class AND .pseudo-hover class */
@custom-variant hover (&:hover,
&.pseudo-hover,
.pseudo-hover-all &);

@source "../";
@source "../../../packages/yaboujee/src";
@source "../../../packages/yabasic/src";
